.skills_container {
    min-width: 80%;
    display: flex;
    justify-content: flex-end;
}

.skills_skill {
    margin: 10px;
    padding: 5px;
    background-color: hsl(180, 52%, 96%);
    cursor: pointer;
}