.job_container {
    display: flex;
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    justify-content: space-between;
}

.jobdetails_img {
    margin: 20px;
}

.flex {
    display: flex;
}

@media(max-width: 1024px) {
    .job_container {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 768px) {
    .flex {
        display: block;
    }
}